In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')

In [7]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [8]:
X_train = dfx.values
Y_train = dfy.values

In [9]:
Y_train = Y_train.reshape((-1,))
Y_train.shape

(576,)

In [37]:
def dist(x1,x2):
    '''This function returns the Euclidean Distance'''
    return np.sqrt(sum((x1-x2)**2))

def knn(X,Y,queryPoint,k=5):
    
    vals = []
    m = X.shape[0]
    
    for i in range(m):
        d = dist(queryPoint,X[i])
        vals.append((d,Y[i]))
    
    # vals is list of tuples of (dist,y_label) type
    vals = sorted(vals)
    vals = vals[:k]    
    
    vals = np.array(vals)
    
    newVals = np.unique(vals[:,1],return_counts=True)
    
    index = newVals[1].argmax()
    pred = newVals[0][index]
    
    return pred

In [38]:
X_test = pd.read_csv('Diabetes_Xtest.csv')

In [39]:
X_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [40]:
X_test = X_test.values

In [41]:
print(X_test.shape)

(192, 8)

In [ ]:
Y_test = []
for query in X_test:
    pred = knn(X_train,Y_train,query,k=13)
    Y_test.append(int(pred))

In [ ]:
df = pd.DataFrame(data = Y_test, columns = ["Outcome"])

In [76]:
df.to_csv("Y_Prediction.csv",index=False)